body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #49e370;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.patient-list {
    margin-top: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    cursor: pointer;
    padding: 10px;
    background-color: #e0e0e0;
    border-radius: 5px;
}

li:hover {
    background-color: #d0d0d0;
}

.doctor-connection {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
/* ... Existing styles ... */
button:hover{
    color: green;
}

.patient-list img {
    max-width: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.patient-list span {
    vertical-align: middle;
}

 /* ... Existing styles ... */

.patient-list table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.patient-list th, .patient-list td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.patient-list img {
    max-width: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

/* ... Existing styles ... */
