@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
   *{
    font-family: 'Roboto', sans-serif;
   }
   
body{
  height: 100vh;
  width: 100vw;
  
}
.portfolio{
   background-color: green;
    width: 100vw;
    font-size: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 77px;
   position: sticky;
   top: 0;
   z-index: 1;
}
._1{
  color: rgb(30, 30, 78);
  font-family: 'Lobster', cursive;
    
}
._2{
  color: rgb(212, 228, 212);
  font-family: 'Lobster', cursive;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 2px solid rgb(189, 41, 41); */
  margin-top: 20px;
  height: 42px;
}
.navbar{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* border: 2px solid red; */
  width: 60vw;
  height: 42px;
  margin-left:100px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-radius: 10px;
  position: sticky;
  z-index: 1;
}
.nav a{
  /* font-family: 'Lobster', cursive; */
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;

  color: rgb(6, 6, 63);
}
.nav a:hover{
  

  color: rgb(53, 137, 17);
}
#btn{
    height: 37px;
    font-size: 16px;
    width: 152px;
    color: white;
    background-color: rgb(0, 121, 0);
    margin-right: 25px;
    /* border: 2px solid red; */
    border-radius: 9px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin-left: auto;
    position: relative;
    left:0.4em;
}
.Question{
  height: 37px;
  font-size: 20px;
  width: 169px;
  color: white;
    background-color: rgb(0, 121, 0);
    border-radius: 9px;
}
.containerimg{
  background-image:url("image/eptt68n02v8-data-science-healthcare-transformed.jpeg");
  background-size: cover;
background-position: center;
  /* border: 2px solid red; */
   display: flex;
   /* flex-direction: column; */
   justify-content: left;
   align-items: center;
   margin-top: 30px;
   height: 75vh;
   width: 100vw;
}
.boximg{
  /* border: 2px solid red; */
    color: white;
    border-radius: 20px;
    height: 37vh;
    width: 25vw;
    border: 2px solid white;
    margin-left: 122px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 10px ;
    margin-top: 46px;
}
.boximg h1{
  font-size: 50px;
  color: green;
  color: white;
}
.boximg{
  font-size: 20px;
}
.maincontent{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 10px ;
 
}
.container2{
  height: 42vh;
  width:80vw ;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-radius: 20px;
}
.button1st{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* border: 2px solid black; */
  height: 15vh;
  width: 100vw;
}
.buttonchild  button{
  background-color: green;
  color: white;
  border: 2px solid green ;
  height: 70px;
    width: 220px;
    border-radius: 33px;
  
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.button2nd button{
  background-color:rgb(48, 43, 43);
  color: white;
  /* border: 2px solid white ; */
  height: 60px;
    width: 250px;
    border-radius: 30px;
  
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.buttonchild button a{
  text-decoration: none;
  color: white;
  font-size: 22px;
}
.button2nd button a{
  text-decoration: none;
  color: white;
  font-size: 25px;
}
.footer{
  height: 10vh;
  color: white;
  width: 100vw;
  background-color: rgb(38, 36, 36);
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  margin-top:15px;
}


ul.navbarr {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li {
  float: left;
}

li a {
  color: rgb(6, 6,63);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

li a:hover {
  background-color: #555;
}
 


.subcontent {
  display: none;
  position: absolute;
  background-color: #333;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border: 1px solid #f0f8ff
 
}

li:hover .subcontent {
  display: block;
  border-radius: 0.4em;
}

.subcontent a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.subcontent a:hover {
  background-color: green;
}

 