
  
  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

   
   
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: white;
}

.container{
    padding: 40px;
    border: 2px solid rgb(22, 146, 22);
    box-shadow: -1px -1px 20px , 1px 1px 20px, 
    inset -1px -1px 10px, 
    inset 1px 1px 10px;
    border-radius: 20px;
}

.container .form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}

.container .form h2{
    font-weight: 600;
    letter-spacing: 0.04em;
}

.container .form .inputBox{
    position: relative;
    width: 300px;
}
.container .form .inputBox input{
    padding: 16px 10px 12px 48px;
    border: none;
    width: 100%;
    border: 2px solid black;
    color: black;
    font-weight: 300;
    font-size: 1em;
    border-radius: 25px;
    transition: 0.7s;
    outline: none;
}
.container .form .inputBox span{
    position: absolute;
    left: 0;
    padding: 16px 10px 12px 48px;
    pointer-events: none;
    font-size: 1em;
    font-weight: 300;
    transition:0.7s ;
    letter-spacing: 0.05em;
    color: black;
}

.container .form .inputBox input:valid ~ span,
.container .form .inputBox input:focus ~ span{
    color: green;
    border: 2px solid rgb(30, 105, 30);
    background: white;
    transform: translateX(25px) translateY(-6px);
    font-size: 0.6em;
    padding: 0 8px;
    border-radius: 10px;
    letter-spacing: 0.1em;
}

.container .form .inputBox input:valid,
.container .form .inputBox input:focus{
    border: 2px solid #62bdb0;
}

.container .form .inputBox i{
    position: absolute;
    top: 15px;
    left: 16px;
    width: 25px;
    padding: 2px 0;
    padding-right: 8px;
    color: green;
    border-right: 1px solid green;
}
.container .form .inputBox input[type="submit"]{
    background-color:#169116;
    color: black;
    padding: 10px 0; 
    font-weight: 500;
    cursor: pointer;
}
.container .form .inputBox input:hover{
  
    color: #fff;
}

.container .form p{
    color: red;
    font-size: 0.85em;
    font-weight: 400;
}
.container .form p a{
    font-weight: 700;
    color: blue;
}